h1  {
  color: gold;
  text-align:center;
  font-size: 100px;
}



body {
  background-color: white;
}
  


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
  overflow: hidden;
  background-color: #333;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #999;
}
  
  
